.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-chatbot-kit-chat-container {
  width: 100%;
  height: 100%;
}

.react-chatbot-kit-chat-bot-message {
  flex: auto;
  font-size: 9px;
}
.react-chatbot-kit-chat-bot-avatar-letter p{
  font-size: 9px;
}


.react-chatbot-kit-chat-bot-avatar-letter
{
  font-size: 9px;
}
.react-chatbot-kit-user-chat-message{
  flex: auto;
  font-size: 9px;
}
.react-chatbot-kit-chat-bot-avatar-container{
  width:20px;
  height: 20px;
} 
.react-chatbot-kit-user-avatar-container {
  width:20px;
  height: 20px;
}

.react-chatbot-kit-chat-input {
  font-size: 9px;
}
.react-chatbot-kit-chat-message-container{
  height: 780px;
}
.react-chatbot-kit-chat-inner-container{
  height: 100%;
}